.ie-article {
    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
}
.ie-isolated-content .div {
    padding: 5px;
    text-align: left;
}

.ie-inline-image {
    height: 1em;
}

.ie-isolated-content .likert {
    display: flex;
    margin: 0;
    padding: 0 0 35px;
    width: 100%;
    list-style: none;
}
.ie-isolated-content .likert li {
    display: inline-block;
    vertical-align: top;
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;
}

.ie-isolated-content .likert:last-of-type {
    border-bottom: 0;
}
.ie-isolated-content .likert li:before {
    content: "";
    position: relative;
    top: 0.9ex;
    left: 0%;
    display: block;
    border-bottom: solid 4px #efefef;
}

.ie-isolated-content .likert li input[type="radio"] {
    position: relative;
    top: 0;
    left: 50%;
    display: block;
    margin-left: -6px;
}

.ie-isolated-content .likert li label {
    width: 100%;
    font-size: 15px;
}

.ie-isolated-content .buttons {
    margin: 30px 0;
    padding: 0 4.25%;
    text-align: right;
}
.ie-isolated-content .buttons button {
    padding: 5px 10px;
    background-color: #67ab49;
    border: 0;
    border-radius: 3px;
}

.ie-isolated-content .statement {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    text-align: left;
}

/*.ie-isolated-content .table {
    width: 80%;
    border: 1px solid black;
    border-collapse: collapse;
}*/

.ie-isolated-content .table class {
    margin-left: auto;
    margin-right: auto;
}

.ie-isolated-content .th {
    padding: 15px;
    text-align: center;
}

.ie-isolated-content {
    text-align: left;
    font-size: 100%;
    line-height: 140%;
}

.ie-carousel {
    /* stops jumping around horizontally due to collapsing margins */
    width: 100vw;
    max-width: 100%;
}

.ie-carousel .carousel-indicators {
    position: unset;
}
.ie-carousel .carousel-indicators li {
    background-color: #222;
}

.ie-carousel .carousel-controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.ie-carousel .carousel-controls > * {
    margin-left: 1em;
    margin-right: 1em;
}
