body {
}

.likert {
    display: block;
    margin: 0;
    padding: 0 0 35px;
    width: 100%;
    list-style: none;
}
.likert li {
    display: inline-block;
    width: 19%;
    vertical-align: top;

    text-align: center;
}
.likert li input[type="radio"] {
    position: relative;
    top: 0;
    left: 50%;
    display: block;
    margin-left: -6px;
}

.likert li label {
    width: 100%;
}

.statement {
    display: block;
    margin-bottom: 10px;
    padding: 30px 0 0 4.25%;

    font-weight: bold;

    font-size: 14px;
}

table {
    width: 80%;
    border: 1px solid black;
}

th {
    padding: 15px;
    text-align: center;
}

.ie-isolated-content {
    text-align: left;
    font-size: 120%;
    line-height: 120%;
}

.ie-carousel .carousel-indicators {
    position: unset;
}
.ie-carousel .carousel-indicators li {
    background-color: #222;
}

.ie-carousel .carousel-controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.ie-carousel .carousel-controls > * {
    margin-left: 1em;
    margin-right: 1em;
}
